.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(9, 1fr);
}
.flex {
  display: flex;
  align-items: center;
  text-align: center;
}
.margin {
  margin: 50px;
}
.pref-text {
  padding: 5px 0;
}
